
.TEXT_COLOR_1 {  color :#f6e9c7;  }
.TEXT_COLOR_2 {  color :#444;  }
.TEXT_COLOR_3 {  color :#67998c;  }

.BACKGROUND_COLOR_1{  color :#e1e5e5;  }
.BACKGROUND_COLOR_2{  color :#f3f3f3;  }
.BORDER_COLOR{  color :#67998c;  }
.SHADOW_COLOR_1{  color :#9e7c40; }

.COLOR_2{ color: #234  }

.ERROR_TEXT_COLOR {color : #e1421d}
.ERROR_BORDER_COLOR {color : #e1421d}
.ERROR_BACKGROUND_COLOR {color : #e1421d}
